<h1 mat-dialog-title>Add Student Form</h1>
<div mat-dialog-content >

 <form action="" [formGroup]="studentForm" autocomplete="off">

    <div class="container">
        <div class="name">
           <label for=""> Fullname:</label><br>
           <input type="text" formControlName="name" >
        </div>
        <div class="email">
            <label for="">Email:</label><br>
            <input type="email" formControlName="email">
        </div>
        <div class="cohort">
            <label for="">Cohort</label><br>
            <input type="number" formControlName="cohort">
        </div>
        <div class="number">
            <label for="">Phone Number:</label><br>
            <input type="text" formControlName="phoneNumber">
        </div>
    </div>
   
 </form>

<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" style="margin-left: 8px;" >{{actionBtn}}</button>
</div>
</div>