

table{
    width: 900px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    font-size: 18px;
}

th{
    border: 2px solid rgb(97, 97, 241);
    border-right: none;
    border-left:none;
    border-top: none;
    height: 30px;
}

td{
    height: 40px;
    margin-top: 20px;
}

.btn{
    display: flex;
    gap: 10px;
    padding-left: 40px;
}

td .edit{
    color: green;
}

td .delete{
    color: red;
}