
<div class="container">
    <table>
        <thead>
            <tr>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>COHORT</th>
                <th>PHONE NUMBER</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody *ngFor="let pupil of students">
            <tr>
                <td>{{pupil.name}}</td>
                <td>{{pupil.email}}</td>
                <td>{{pupil.cohort}}</td>
                <td>{{pupil.phoneNumber}}</td>
                <td class="btn">
                    <button class="edit"><mat-icon mat-flat-button color="primary" routerLink="/update/{{pupil.id}}">edit</mat-icon></button>
                    <button class="delete" (click)="deleteStudent(pupil.id)"><mat-icon mat-flat-button color="primary">delete</mat-icon></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>