<form action=""  autocomplete="off" method="">
    <div class="container">
        <div class="name">
            <label for="">First Name:</label>
            <input type="text" name="name" #name value="{{student.name}}">
        </div>
        <div class="email">
            <label for="">Email:</label>
            <input type="email" name="email" #email value="{{student.email}}">
        </div>
        <div class="cohort">
            <label for="">cohort:</label>
            <input type="number" max="2" min="1" name="cohort" #cohort value="{{student.cohort}}" >
        </div>
        <div class="phoneNumber">
            <label for="">Phone Number:</label>
            <input type="text" name="phoneNumber" #phoneNumber value="{{student.phoneNumber}}">
        </div>
        <div class="sub_btn">
            <input type="submit" value="Update" (click)="update(
                {name : name.value.trim(),
                email : email.value.trim(),
                cohort: cohort.value,
                phoneNumber: phoneNumber.value
                }
                )"> 
        </div>
    </div>
 </form>
