<form action="" [formGroup]="studentForm" autocomplete="off" method="">
    <div class="container">
        <div class="name">
            <label for="">First Name:</label>
            <input type="text" formControlName="name" #name [(ngModel)]="student.name">
        </div>
        <div class="email">
            <label for="">Email:</label>
            <input type="email" formControlName="email" #email [(ngModel)]="student.email">
        </div>
        <div class="cohort">
            <label for="">cohort:</label>
            <input type="number" max="2" min="1" formControlName="cohort" #cohort [(ngModel)]="student.cohort">
        </div>
        <div class="phoneNumber">
            <label for="">Phone Number:</label>
            <input type="text" formControlName="name" #phoneNumber [(ngModel)]="student.phoneNumber">
        </div>
        <div class="sub_btn">
            <input type="submit" value="Submit" value="ADD STUDENT" (click)="update()" >
        </div>
    </div>
 </form>
