 <form action="" [formGroup]="studentForm" autocomplete="off" method="">
    <div class="container">
        <div class="name">
            <label for="">First Name:</label>
            <input type="text" formControlName="name" #name>
        </div>
        <div class="email">
            <label for="">Email:</label>
            <input type="email" formControlName="email" #email>
        </div>
        <div class="cohort">
            <label for="">cohort:</label>
            <input type="number" max="2" min="1" formControlName="cohort" #cohort>
        </div>
        <div class="phoneNumber">
            <label for="">Phone Number:</label>
            <input type="text" formControlName="name" #phoneNumber>
        </div>
        <div class="sub_btn">
            <input type="submit" value="Submit" value="ADD STUDENT" (click)="newStudent(name.value,
            email.value,
            cohort.value,
            phoneNumber.value);
            name.value = '';
            email.value = '';
            cohort.value = '';
            phoneNumber.value = '';
            " >
        </div>
    </div>
 </form>
